<h1>Adding New Book</h1>
<%= link_to("Back to Book Collection", books_path) %>

<div>
    <%= form_for(@book) do |f| %>
        <%= render(partial: 'form', locals: {f: f}) %>
    
        <%= f.submit("Add new Book") %>
    <% end %>
</div>
        
